<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
	<property name="logDir" value="/var/logs/gateway" />
	
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- To enable JMX Management -->
    <jmxConfigurator />
   <!-- <property name="logDir" value="/log" /> -->

   <appender name="rollingFile"  class="ch.qos.logback.core.rolling.RollingFileAppender">
	      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	         <!-- log file name -->
	         <!-- generate log every day -->
	         <!--<FileNamePattern>log/clever-log-%d{yyyy-MM-dd}.log</FileNamePattern>-->
	         <!-- generate log every hour -->
	         <FileNamePattern>${logDir}/web-log-%d{yyyy-MM-dd_HH}.log</FileNamePattern>
	         <!-- the day that is kept-->
	         <MaxHistory>7</MaxHistory>
	      </rollingPolicy>
	      <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
	         <!-- %d:date; %thread:thread name; %-5level:level appear from left with 5 char width; %msg:message; %n:\n-->
	         <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %caller{1} %-5level  %logger{50} - %msg%n</pattern>
	      </encoder>
	      <!-- max file size -->
	      <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
	         <MaxFileSize>10MB</MaxFileSize>
	      </triggeringPolicy>
    </appender>
   
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- <charset>UTF-8</charset> -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %caller{1} %-5level | (%file:%line\) - %msg%n</pattern>
        </encoder>
    </appender>
	
 <!-- 
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>你的ip地址:4567</destination>
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>
 
    <root level="INFO">
        <appender-ref ref="LOGSTASH" />
        <appender-ref ref="CONSOLE" />
    </root> -->
 
 
	
    <logger name="jdbc.sqltiming" level="DEBUG" />
    <logger name="org.springframework" level="WARN" />
    <logger name="com.springboot2" level="WARN" />
	<logger name="com.ouyang.game" level="DEBUG" />
    <root level="info">
        <appender-ref ref="STDOUT" /> 
        <!-- <appender-ref ref="rollingFile" /> -->
    </root>
</configuration>